/* General */

/* Fin */

/* Parte de Yael */

#header {
  background-color: bisque;
}

/*#burgersColum {
    display: flex;
    flex-direction: column;
}*/

.burgers {
  display: flex;
  background-color: coral;
}

/* Fin */

/* Parte de Byuto */
#deliveryColum {
  display: flex;
}
/* Fin */
