/* General */
#colums {
  display: flex;
  flex-direction: column;
}
/* Fin */

/* Parte de Yael */

#burgersColum {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 15px;
    background-color: darkgray;
}

.burgerImg{
    border-radius: 15px;
    width: 80px;
}

.burgers {
  display: flex;
  border-radius: 15px;
  background-color: coral;
}

/* Fin */

/* Parte de Byuto */
#deliveryColum {
  display: flex;
  flex-direction: column;
}
/* Fin */
